header {
    background-color: var(--color-background);
    box-shadow: 0 2px 2px var(--color-background);
    transition: background-color ease $darkTransitionDuration, box-shadow ease $darkTransitionDuration;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    align-items: center;
    gap: var(--padding);
    z-index: 1;

    h1 {
        font-weight: 100;
        font-size: 1rem;
        flex-grow: 1;
        margin: 0;

        strong {
            font-weight: 600;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    label[for="nav-toggle"] {
        display: none;
    }

    label[for="theme-toggle"] {
        padding: .4rem;
        border: var(--color-link) 1px solid;
        border-radius: 5px;
        color: var(--color-link)
    }

    a {
        color: var(--color-text);
        text-decoration: none;

        &:hover {
            color: var(--color-link);
        }
    }

    nav {
        display: flex;
        gap: var(--padding);
        align-items: center;

        a.active {
            color: var(--color-link);
            font-weight: 600;
        }

        a.cta {
            padding: .6rem 1rem;

            &:hover,
            &.active {
                color: white;
            }
        }
    }

    @media screen and (max-width: 680px) {
        nav {
            display: flex;
            position: absolute;
            background-color: var(--color-background);
            right: 0;
            left: 0;
            flex-direction: column;
            text-align: center;
            transform: translateY(.5rem);
            gap: 0;
            max-height: 0;
            overflow: hidden;
            transition:
                max-height cubic-bezier(.65, .05, .36, 1) .2s,
                padding cubic-bezier(.65, .05, .36, 1) .2s;
            box-shadow: none;

            a {
                padding: 1rem;

                &.cta {
                    margin: .6rem 0;
                }
            }
        }

        label[for="nav-toggle"] {
            display: inline-block;
        }

        input[id="nav-toggle"]:checked~nav {
            max-height: 100vh;
            box-shadow: 0 3px 4px var(--color-shadow);
            padding-bottom: 1rem;
        }
    }
}