@import "common";

svg {
  width: 100%;
  height: fit-content;
}

main > img {
  border: 1px solid var(--color-link);
}
h1 + h2 {
  margin-top: 0;
}
p {
  margin: 0.8rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  div:nth-child(2) {
    flex : 1;
    min-width: 18rem;
  }
}

article {
  padding-bottom: var(--space-l);
}

#comments {
  padding-top: var(--space-s);
  border-top: 1px solid var(--color-link);

  .mastodon-comment {
    background-color: var(--color-card);
    padding: var(--space-s);
    margin-bottom: var(--space-s);

    .status {
      display: flex;
      gap: 0.8rem;
      font-size: .8rem;
      a {
        text-decoration: none;
      }
      .active {
        color: var(--color-link);
      }
      .las {font-size: 1rem;}

    }
    .toto {
      display: flex;
      gap: var(--space-s);
      overflow: hidden;
      a {
        text-decoration: none;
      }
      .avatar img {
        max-width: none;
      }
      .details {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        .author {
          overflow: hidden;
          flex-grow: 1;
          a {
            display: block;
          }
          .name {
            font-size: 1.2rem;
          }
          .user {
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-text);
          }
        }
      }
    }
  }
}
