* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.1;
}

html {
  font-size: 10pt;
}

body {
  font-family: "Times New Roman", Times, serif;
  --aside-background: #ffe4cd;
  --aside-text-color: black;
  --aside-border-color: var(--aside-text-color);
  --border: black;
  --border-width: 1px;
  display: flex;
  width: 21cm;
  height: 29.7cm;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

main {
  flex: 2;
}

@media screen {
  html {
    background: #f9f9f9;
  }

  body {
    margin: 1rem auto;
    border: var(--border-width) solid var(--border);
    background: white;
  }
}

strong {
  font-weight: bold;
}

li {
  list-style-type: none;
}

/* ------------------------- */
/* Line List */
/* ------------------------- */
ul.line-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.6rem;
}

ul.line-list li {
  list-style-type: circle;
  margin-left: 1rem;
}

/* ------------------------- */
/* Level */
/* ------------------------- */
.level {
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  height: 0.4rem;
}

.level-2 {
  background: black;
  width: 40%;
  height: 100%;
}

.level-3 {
  background: black;
  width: 60%;
  height: 100%;
}

.level-4 {
  background: black;
  width: 80%;
  height: 100%;
}

.level-5 {
  background: black;
  width: 100%;
  height: 100%;
}

// -------------------------
// Aside
// -------------------------
aside {
  flex: 1;
  background-color: var(--aside-background);
  padding: 1.6rem 2rem;
  display: flex;
  flex-direction: column;
  color: var(--aside-text-color);
}

aside a {
  color: var(--aside-border-color);
}

aside section {
  margin-top: 3rem;
  border-top: 1px solid var(--aside-border-color);
  position: relative;
  @media print {
    page-break-inside: avoid;
  }
}

aside section .title {
  font-weight: bold;
  font-size: 1.2rem;
  transform: translateY(-60%) translateX(-50%);
  background: var(--aside-background);
  width: fit-content;
  padding: 0 1rem;
  position: relative;
  left: 50%;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1.6px;
}

header {
  border-top: 1px solid var(--aside-border-color);
  padding: 3rem 0 1rem;
}

#skills .content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
}

.skill-name {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.4rem;
}

.education .header {
  display: flex;
  padding-bottom: 0.2rem;
}

.education-type {
  font-weight: bold;
}

.education .dates {
  flex: 1;
  font-style: italic;
  text-align: right;
}

.education-institution {
  font-style: italic;
}

// -------------------------
// Contact
// -------------------------
#contact .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// -------------------------
// Languages
// -------------------------
#languages .content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.language {
  display: flex;
  gap: 0.6rem;
  align-content: baseline;
}

.language-name {
  font-weight: bold;
  width: 25%;
}

// -------------------------
// Interests
// -------------------------
#interests .content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.interest-name {
  font-weight: bold;
}

// -------------------------
// Main
// -------------------------
main {
  overflow: hidden;
}

main section {
  margin-top: 3rem;
  padding-top: 2.6rem;
  border-top: var(--border-width) solid var(--border);
  position: relative;
}

main section:first-child {
  margin-top: 0;
  border: none;
  padding-top: 1rem;
}

main section:first-child .title {
  display: none;
}

main section .title {
  font-size: 1.2rem;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  width: fit-content;
  background-color: var(--border);
  padding: 0.4rem 1rem;
  text-transform: uppercase;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: var(--border-width) dashed var(--border);
  padding: 1rem 2rem;
  text-align: justify;
  @media print {
    page-break-inside: avoid;
  }
}

.experience:first-child {
  padding-top: 0;
  border: none;
}

.experience .header {
  display: flex;
  align-items: baseline;
  font-size: 1.2rem;
  padding: 0.6rem 0;
}

.experience .position {
  font-weight: bold;
}

.experience .company::before {
  content: "@";
}

.experience .company {
  margin-left: 1rem;
}

.experience .dates {
  flex: 1;
  font-style: italic;
  text-align: right;
}

.experience .summary li {
  list-style: "-";
  margin-left: 1rem;
  padding-left: 1rem;
}
