@import "reset";
@import "common";

$darkTransitionDuration: 0.4s;

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: color ease $darkTransitionDuration,
    background-color ease $darkTransitionDuration;
  font-weight: var(--weight-normal);
  height: 100%;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 8rem;
  --weight-normal: 300;
  --weight-bold: 400;
  --weight-bolder: 700;

  --color-background: white;
  --color-background-accent: black;
  --color-background-primary: black;
  --color-text: black;
  --color-text-accent: black;
  --color-text-primary: black;
  --color-text-on-accent: white;
  --color-text-on-primary: white;

  --color-shadow: #c4c4c4;
  --color-card: #f8f8f8;

  @mixin dark-palette {
    --color-primary-100: #ff9d01;
    --color-primary-200: #ffa834;
    --color-primary-300: #ffb351;
    --color-primary-400: #ffbd6b;
    --color-primary-500: #ffc884;
    --color-primary-600: #ffd39c;

    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;

    --color-background: var(--color-surface-100);
    --color-background-accent: var(--color-surface-200);
    --color-background-primary: var(--color-primary-300);
    --color-text: #ddd;
    --color-text-accent: white;
    --color-text-primary: var(--color-primary-100);
    --color-text-on-accent: white;
    --color-text-on-primary: black;

    --color-shadow: #ff9d0178;
    --color-card: var(--color-background-accent);
  }

  @media (prefers-color-scheme: dark) {
    @include dark-palette();
  }

  &[data-theme="dark"] {
    @include dark-palette();
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.25;
  justify-content: space-between;
}
body > * {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: var(--color-text);
  transition: ease color 0.2s, ease text-decoration 0.2s;
  &:hover {
    color: var(--color-text-accent);
    text-decoration: underline;
  }
}

.cta {
  border: none;
  background-color: var(--color-background-primary);
  color: var(--color-text-on-primary);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: normal;

  &:hover,
  &.active {
    color: var(--color-text-on-primary);
  }
}

main {
  z-index: 0;
  padding: var(--space-s);
  padding-top: 0.4rem;
  padding-bottom: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: justify;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  color: var(--color-text-primary);
  font-size: 1.8rem;
  font-weight: var(--weight-bolder);
  margin: 2rem 0 1rem;
}

h2 {
  color: var(--color-primary-400);
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  margin: 1.6rem 0 0.8rem;
  text-align: justify;
}

h3 {
  color: var(--color-primary-600);
  font-size: 1.3rem;
  font-weight: var(--weight-normal);
  text-align: justify;
}

p {
  margin: 1rem 0;
  text-align: justify;
}

ul {
  li {
    margin: 0 0 0.4rem 1rem;
    padding-left: 0.4rem;
    list-style: "-";
  }
}

ol {
  li {
    margin: 0.6rem 0 0.6rem 1.6rem;
    padding-left: 0.4rem;
    list-style: decimal;
  }
}

blockquote {
  background-color: var(--color-card);
  padding: 0.4rem 2rem;
  border-radius: 5px;
  font-size: 1.1rem;

  em {
    font-weight: var(--weight-normal);
    font-size: 1rem;
    margin-top: 0.6rem;
    display: inline-block;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--weight-bolder);
  color: var(--color-text-accent);
}

.highlight pre {
  padding: 1rem 2rem;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.top-cover {
  width: 100%;
  object-fit: cover;
  max-height: 30vh;
}

hr {
  width: 100%;
  border-color: var(--color-shadow);
  margin: 1.8rem 0;
}

#blog-title {
  width: 100%;
  border-top: 1px solid var(--color-text-primary);
  border-bottom: 1px solid var(--color-text-primary);
  padding: 1rem 0;
  margin: 1rem 0 1.4rem;
  h1 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

.medium-icon {
  font-size: 1.4em;
  vertical-align: text-bottom;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

iframe {
  width: 100%;
}

@import "header";
