@import "reset";
@import "common";

$darkTransitionDuration: .4s;

html {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: color ease $darkTransitionDuration, background-color ease $darkTransitionDuration;
    font-weight: var(--weight-normal);
    height: 100%;
    --padding: 1rem;
    --weight-normal: 300;
    --weight-bold: 400;
    --weight-bolder: 700;

    &[data-theme="light"] {
        --color-text: black;
        --color-background: white;
        --color-link: #db7318;
        --color-accent-text: white;
        --color-shadow: #c4c4c4;
        --color-card: #f8f8f8;
    }

    &[data-theme="dark"] {
        --color-text: white;
        --color-background: black;
        --color-link: #ff9d01;
        --color-accent-text: black;
        --color-shadow: #7c512c;
        --color-card: #1C1C1C;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.25;
    justify-content: space-between;
}
body>* {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

a {
    color: var(--color-link);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.cta {
    border: none;
    background-color: var(--color-link);
    color: var(--color-accent-text);
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

main {
    z-index: 0;
    padding: var(--padding);
    padding-top: 0.4rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: justify;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    color: var(--color-link);
    font-size: 1.8rem;
    font-weight: var(--weight-bolder);
    margin: 2rem 0 1rem;
}

h2 {
    color: var(--color-link);
    font-size: 1.5rem;
    font-weight: var(--weight-bold);
    margin: 1.6rem 0 0.8rem;
    text-align: justify;
}

h3 {
    color: var(--color-link);
    font-size: 1.3rem;
    font-weight: var(--weight-normal);
    text-align: justify;
}

p {
    margin: 1rem 0;
    text-align: justify
}

ul {
    li {
        margin: 0 0 .4rem 1rem;
        padding-left: 1rem;
        list-style: "-";
    }
}

ol {
    li {
        margin: .6rem 0 .6rem 1.6rem;
        padding-left: .4rem;
        list-style: decimal;
    }
}

blockquote {
    background-color: var(--color-card);
    padding: .4rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;

    em {
        font-weight: var(--weight-normal);
        font-size: 1rem;
        margin-top: .6rem;
        display: inline-block;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: var(--weight-bolder);
}

.highlight pre {
    padding: 1rem 2rem;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.top-cover {
    width: 100%;
    object-fit: cover;
    max-height: 30vh;
}

hr {
    width: 100%;
    border-color: var(--color-shadow);
    margin: 1.8rem 0;
}

#blog-title {
    width: 100%;
    border-top: 1px solid var(--color-link);
    border-bottom: 1px solid var(--color-link);
    padding: 1rem 0;
    margin: 1rem 0 1.4rem;

    p {
        margin: 0;
        font-size: 1rem;
    }
}

.medium-icon {
    font-size: 1.4em;
    vertical-align: text-bottom;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

iframe {
  width: 100%;
}

@import "header";
