@import "common";

#side-preview {
    display: flex;
    gap: var(--padding);

    aside {
        flex: 1
    }

    section {
        flex: 2
    }
}

@media screen and (max-width: $fullMenuWidth) {
    #side-preview {
        flex-direction: column;
    }
}