<html>

<head>
    {{ $sass := resources.Get "sass/cv.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
</head>

<body>
    {{ with (index .Site.Data "full-resume") }}
    <aside>
        <header>
            <h1>{{ .basics.name | markdownify }}</h1>
            <h2>{{ .basics.label }}</h2>
        </header>

        <section id="contact">
            <div class="title">Contact</div>
            <div class="content">
                <p><a href="mailto:{{ .basics.email }}" target="_blank">{{ .basics.email }}</a></p>
                <p><a href="{{ .basics.url }}" target="_blank">{{ .basics.url }}</a></p>
                <p>{{ .basics.location.address }}, {{ .basics.location.countryCode }}</p>
            </div>
        </section>

        <section id="skills">
            <div class="title">Compétences</div>
            <div class="content">
                {{ range .skills }}
                <div class="skill">
                    <p class="skill-name">{{ .name }}</p>
                    <div class="details">
                        <ul class="line-list">
                            {{ range .keywords }}
                            <li>{{ . }}</li>
                            {{ end }}
                            </p>
                    </div>

                </div>
                {{ end }}
            </div>
        </section>

        <section id="education">
            <div class="title">Formation</div>
            <div class="content">
                {{ range .education }}
                <div class="education">
                    <div class="header">
                        <p class="education-type">{{ .studyType }}</p>

                        <div class="dates">
                            {{ .startDate | time.Format "2006" }}
                            {{ if (isset . "endDate") }}
                            - {{ .endDate | time.Format "2006" }}
                            {{ else }}
                            à maintenant
                            {{ end }}
                        </div>

                    </div>
                    <p class="education-area">{{ .area }}</p>
                    <p class="education-institution">{{ .institution }}</p>
                </div>
                {{ end }}
            </div>
        </section>

        <section id="languages">
            <div class="title">Langues</div>
            <div class="content">
                {{ range .languages }}
                <div class="language">
                    <p class="language-name">{{ .language }}</p>
                    <p class="language-fluency">{{ .fluency }}</p>
                </div>
                {{ end }}
            </div>
        </section>

        <section id="interests">
            <div class="title">Intérêts</div>
            <div class="content">
                {{ range .interests }}
                <div class="interest">
                    <p class="interest-name">{{ .name }}</p>
                    <ul class="line-list">
                        {{ range .keywords }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </section>

    </aside>

    <main>
        <section id="experiences">
            <div class="title">Expériences</div>
            <div class="content">
                {{ range .work }}
                <div class="experience">
                    <div class="header">
                        <div class="position">{{ .position }}</div>
                        <div class="company">{{ .name }}</div>
                        <div class="dates">
                            {{ .startDate | time.Format "01/2006" }}
                            {{ if (isset . "endDate") }}
                            - {{ .endDate | time.Format "01/2006" }}
                            {{ else }}
                            à maintenant
                            {{ end }}
                        </div>
                    </div>
                    {{ if .summary }}
                    <div class="summary">
                        {{ .summary | markdownify }}
                    </div>
                    {{ end }}
                    {{ if (.highlights) }}
                    <ul class="experience-higlights line-list">
                        {{ range .highlights }}
                        <li class="highlight">{{ . }}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </section>

        {{ if .volunteer }}
        <section id="volunteer">
            <div class="title">Bénévolat</div>
            <div class="content">
                {{ range .volunteer }}
                <div class="experience">
                    <div class="header">
                        <div class="position">{{ .position }}</div>
                        <div class="company">{{ .organisation }}</div>
                        <div class="dates">
                            {{ .startDate | time.Format "01/2006" }}
                            {{ if (isset . "endDate") }}
                            - {{ .endDate | time.Format "01/2006" }}
                            {{ else }}
                            à maintenant
                            {{ end }}
                        </div>
                    </div>
                    {{ if (.highlights) }}
                    <ul class="experience-higlights line-list">
                        {{ range .highlights }}
                        <li class="highlight">{{ . }}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ if .summary }}
                    <div class="summary">
                        {{ .summary | markdownify }}
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </section>
        {{ end }}
    </main>


    {{ end }}
</body>

</html>