{{ define "extraHead" }}
{{ $sass := resources.Get "sass/list.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<ul class="list">
    {{ range .Pages }}
    <li>
        {{ $link := .Permalink }}
        {{ $target := "" }}
        {{ if .Params.External }}
            {{ $link = .Params.External }}
            {{ $target = "_blank" }}
            <p class="external">Externe</p>
        {{ end }}
        {{ if eq .Params.Type "podcast" }}
            <div class="type"><i class="las la-podcast"></i> Podcast</div>
        {{ else if eq .Params.Type "conference" }}
            <div class="type"><i class="las la-video"></i> Conférence</div>
        {{ end }}
        <a href="{{ $link }}" target="{{ $target }}">
            {{ with .Resources.GetMatch .Params.Preview.Url }}
            {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                alt="{{ .Params.Preview.description }}">
            {{ end }}
            {{ end }}
            <div class="content">
                <h3>{{ .Title }}</h3>
                <p>{{ .Date | time.Format "02/01/2006" }}</p>
                <!-- <hr /> -->
                <!-- <p>{{ .Description }}</p> -->
            </div>
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}