{{ define "main" }}
<div id="side-preview">
    <aside>
        {{ $previewUrl := .Params.Preview }}
        {{ if isset .Params.Preview "url" }}
        {{ $previewUrl = .Params.Preview.Url }}
        {{ end }}
        {{ with .Resources.GetMatch $previewUrl }}
        {{ with .Resize "720x webp" }}
        <img class="top-cover" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
            alt="{{ .Params.Preview.Description }}">
        {{ end }}
        {{ end }}
    </aside>
    <section>
        <h1>{{.Title}}</h1>
        {{.Content}}
    </section>
</div>
{{ end }}

{{ define "extraHead" }}
{{ with $sass := resources.GetMatch "sass/side-preview.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}
{{ end }}