<head>
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" media="none" onload="if(media!='all')media='all'">

    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet">
    </noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="stylesheet" href="/css/line-awesome.min.css" media="none" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="stylesheet" href="/css/line-awesome.min.css">
    </noscript>
    <meta charset="utf-8">
    <meta name="author" content="Hadrien MENS-PELLEN">
    <meta name="description" content="{{ .Params.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="fr">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
</head>