<header>
    <h1><a href="/">Hadrien<strong>MP</strong></a></h1>
    <div id="nav-wrapper">
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle">
            <i class="las la-bars"></i>
        </label>
        <nav>
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}

                {{ $activeClass := "" }}
                {{ if $currentPage.IsMenuCurrent "main" . }}
                    {{ $activeClass = "active" }}
                {{ end }}

                {{ $ctaClass := "" }}
                {{ if eq .Identifier "cta" }}
                    {{ $ctaClass = "cta" }}
                {{ end }}

                <a class="{{ $activeClass }} {{ $ctaClass }}" href="{{ .URL | absLangURL }}">
                    {{.Name }}
                </a>
            {{- end }}

        </nav>
    </div>
    <input type="checkbox" id="theme-toggle" />
    <label for="theme-toggle">
        <i class="lar la-moon"></i>
    </label>
</header>